ion-content ion-toolbar {
  --background: translucent;
}
.winner {
  background-color: lightgreen !important;
  border-radius: 5px;
  padding: 0.3rem;
}
.selected {
  background-color: #5598df;
  border-radius: 5px;
  padding: 0.3rem;
}
.score {
  font-size: larger;
}
.rank {
  font-size: 10px;
  position: absolute;
  top: 5px;
}
ion-label ion-skeleton-text {
  margin: auto;
}
.record {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
}
.l {
  left: 51px;
}
.r {
  right: 12px;
}
.float-right {
  float: right;
}
#dates {
  white-space: nowrap;
  font-size: small;
}
