<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!editMode"></ion-menu-button>
      <ion-button *ngIf="editMode" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      <ion-select [(ngModel)]="selectedLeague" name="leagueSelector" [interfaceOptions]="{header:'Select a League'}"
        (ionChange)=getEvents(true)>
        <ion-label>Select a League</ion-label>
        <ion-select-option *ngFor="let l of leagues" [value]="l">
          {{l.name}}
        </ion-select-option>
      </ion-select>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon *ngIf="!editMode" routerLink="notifications" class="ns" name="notifications" size="default"
        color="primary"></ion-icon>
      <ion-button *ngIf="editMode" (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-label>Conference</ion-label>
      <ion-select (ionChange)="filterConf($event)" [interfaceOptions]="{header:'Filter By Conference'}">
        <ion-select-option>All</ion-select-option>
        <ion-select-option *ngFor="let conf of conferences | keyvalue" [value]="conf.key">{{conf.key}}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons class="float-right">
      <ion-button *ngIf="!startDate" color="dark" (click)="openCalendar()">Date Range</ion-button>
      <ion-chip *ngIf="startDate" (click)="clearDate()">
        <ion-icon name="calendar" color="primary"></ion-icon>
        <ion-label>{{startDate}} - {{endDate}}</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading">
    <ng-container *ngFor="let date of dateEvents | keyvalue">
      <ion-list-header>
        {{date.key | date:'EEEE, MMM d'}}
      </ion-list-header>
      <ion-item-group *ngFor="let event of date.value; index as i">
        <ion-item-divider *ngIf="event.date!=date.value[i-1]?.date">
          <ion-label>
            {{event.date | date:'h:mm a'}}
          </ion-label>
        </ion-item-divider>
        <ion-item-sliding #slider>
          <ion-item lines="full">
            <ion-thumbnail slot="start"
              [ngClass]="{'selected': picks.get(event.id)?.teamId === event.teams[0].id , 'winner': event.teams[0].winner}"
              (click)="selectTeam(event.id,event.teams[0].id,event.date)">
              <ion-badge color="light" class="rank l" *ngIf="event.teams[0].rank<99">#{{event.teams[0].rank}}
              </ion-badge>
              <img [src]="event.teams[0].logo">
              <ion-badge color="light" class="record l">{{event.teams[0].record ? event.teams[0].record : '0-0'}}
              </ion-badge>
            </ion-thumbnail>
            <ion-label (click)="viewEvent(event)" style="text-align: center;">
              <ion-icon *ngIf="event.date | isPast; else notPast" name="lock-closed" size="small"></ion-icon>
              <ng-template #notPast>
                <ion-icon *ngIf="picks.get(event.id)" slot="icon-only"
                  [name]="picks.get(event.id).visible?'eye':'eye-off'"></ion-icon>
              </ng-template>
              <h2>{{event.shortName}}</h2>
              <p>{{event.venue}}</p>
            </ion-label>
            <ion-thumbnail slot="end"
              [ngClass]="{'selected': picks.get(event.id)?.teamId === event.teams[1].id, 'winner': event.teams[1].winner}"
              (click)="selectTeam(event.id,event.teams[1].id,event.date)">
              <ion-badge color="light" class="rank r" *ngIf="event.teams[1].rank<99">#{{event.teams[1].rank}}
              </ion-badge>
              <img [src]="event.teams[1].logo">
              <ion-badge color="light" class="record r">{{event.teams[1].record ? event.teams[1].record : '0-0'}}
              </ion-badge>
            </ion-thumbnail>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="makeVisible(event.id,slider)">
              <ion-icon slot="icon-only" [name]="picks.get(event.id)?.visible?'eye-off':'eye'"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ng-container>
  </ion-list>
  <ion-list *ngIf="loading">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item lines="full" *ngFor="let x of [].constructor(12)">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label style="text-align: center;">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 70%; margin-top: 7px;"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>