<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115291834996-o2ljah14rcap5unn7ll3ilrb153midgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115291834996-o2ljah14rcap5unn7ll3ilrb153midgv</string>
	<key>API_KEY</key>
	<string>AIzaSyCpue9zo76fwiyKf8PgHyBiP_iCm-0ntsU</string>
	<key>GCM_SENDER_ID</key>
	<string>115291834996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pick.ems</string>
	<key>PROJECT_ID</key>
	<string>pick-ems</string>
	<key>STORAGE_BUCKET</key>
	<string>pick-ems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115291834996:ios:db1d579396cc2af9f95f21</string>
	<key>DATABASE_URL</key>
	<string>https://pick-ems.firebaseio.com</string>
</dict>
</plist>