<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/leagues" (click)="goBack($event)"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clear()">
        Clear All
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="ns.notifications$ | async as notifications">
    <h2 class="ion-padding text-center" *ngIf="notifications?.length===0">No Notifications</h2>
    <ion-list>
      <ion-item-sliding *ngFor="let n of notifications">
        <ion-item>
          <ion-label>
            <h1>
              {{n.title}}
            </h1>
            <p>{{n.body}}</p>
          </ion-label>
          <ion-note slot="end">{{n.created | date}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="remove(n.id)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

</ion-content>