<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="ns" name="notifications" routerLink="/home/tabs/notifications" routerDirection="forward"  size="default" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-label>Sport</ion-label>
    <ion-select [(ngModel)]="sport" name="sprt" (ionChange)="getNews()">
      <ion-select-option value="NFL">NFL</ion-select-option>
      <ion-select-option value="NBA">NBA</ion-select-option>
      <ion-select-option value="NHL">NHL</ion-select-option>
      <ion-select-option value="MLB">MLB</ion-select-option>
      <ion-select-option value="NCAAF">NCAAF</ion-select-option>
      <ion-select-option value="NCAAB">NCAAB</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-card *ngFor="let item of news" [href]="item.links.mobile?.href">
    <ion-card-header>
      <ion-card-subtitle>{{sport}}</ion-card-subtitle>
      <ion-card-title>{{item.headline}}</ion-card-title>
    </ion-card-header>
    <div class="text-center w-100">
      <img [src]="item.images[0]?.url" />
    </div>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="loading">
    <ion-card lines="full" *ngFor="let x of [].constructor(5)">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <div class="fake-img">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>