.league-name {
  font-size: 17px;
  max-width: 190px;
  text-align: center;
}
.bottom {
  z-index: 1000;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.error {
  color: coral;
  padding: 0 1.3rem;
}
.loader {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  text-align: center;
}
