<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fantasy Football App
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="ns" name="notifications" size="default" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="league" *ngIf="firstTime&&!loading">
    <h2>Welcome to the <br> Fantasy Football App</h2>
    <h6 class="ion-padding-bottom">Select an option below to get started</h6>
    <ion-button color="primary" (click)="openModal(true)">Create a League</ion-button>
    <ion-button color="tertiary" (click)="openModal(false)">Join a League</ion-button>
  </section>

  <ng-container *ngIf="!firstTime&&!loading">
    <ion-select [(ngModel)]="selectedLeague" [interfaceOptions]="{header:'Select a League'}">
      <ion-select-option *ngFor="let l of leagues" [value]="l">{{l.name}}</ion-select-option>
    </ion-select>
    <ion-list>
      <ion-list-header>
        <ion-label class="ion-text-capitalize">{{selectedLeague.name}}</ion-label>
        <ion-button>View All</ion-button>
      </ion-list-header>
      <ion-item *ngFor="let user of players">
        <ion-note slot="start">{{user.rank}}</ion-note>
        <ion-label>{{user.username}}</ion-label>
        <ion-note slot="end">{{user.points}}</ion-note>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-list *ngIf="loading">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item lines="full" *ngFor="let x of [].constructor(12)">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label style="text-align: center;">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 70%; margin-top: 7px;"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>