<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fantasy Pick'ems
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="ns" name="notifications" routerLink="notifications" size="default" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="league" *ngIf="noLeagues&&!loading">
    <h2>Fantasy Pick'ems</h2>
    <h6 class="ion-padding-bottom">Create or join a league to get started</h6>
    <ion-button color="primary" (click)="openModal(1)">Create a League</ion-button>
    <ion-button color="tertiary" (click)="openModal(2)">Join a League</ion-button>
  </section>

  <ng-container *ngIf="!noLeagues&&!loading">
    <ion-toolbar color="dark">
      <ion-select (ionChange)="getLeagueUsers()" [(ngModel)]="selectedLeague"
        [interfaceOptions]="{header:'Select a League'}">
        <ion-select-option *ngFor="let l of leagues" [value]="l">{{l.name}}</ion-select-option>
      </ion-select>
    </ion-toolbar>

    <ion-list>
      <ion-list-header>
        <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
        <ion-label class="ion-text-capitalize">{{selectedLeague.name}}</ion-label>
        <ion-button fill="clear" (click)="openPopover($event)">
          <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let user of players">
        <ion-note color="dark" slot="start">{{user.rank}}</ion-note>
        <ion-label class="ion-text-capitalize">{{user.username}}</ion-label>
        <ion-label *ngIf="user.creator==user.uid" color="medium">Admin</ion-label>
        <ion-note color="dark" slot="end">{{user.points}}</ion-note>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-list *ngIf="loading">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    </ion-list-header>
    <ion-list-header>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item lines="full" *ngFor="let x of [].constructor(6)">
      <ion-note slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-note>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>