ion-content ion-toolbar {
  --background: #2f2c3d;
  --color: white;
}
#toolbar {
  display: flex;
  justify-content: space-around;
}
.league {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 15%;
}
.league ion-button {
  width: 50%;
  margin: 16px 0;
}
ion-card-subtitle {
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: absolute;
}
ion-card-subtitle.ios {
  top: 12px;
}
ion-card-subtitle.md {
  top: -4px;
}
ion-select {
  width: 100%;
  justify-content: center;
}
h2 {
  line-height: 1.5;
  margin-bottom: 2rem;
}
.ml-1 {
  margin-left: 0.5rem;
}
