// ion-content {
//   // --background:url("../../../../assets/login-bg.PNG") no-repeat center center / cover;
//   --background: black;
// }
.container {
  max-width: 35rem;
  margin: auto;
  padding: 16px;
}
ion-content.ios {
  --padding-top: 65px !important;
}
ion-button {
  margin: 2rem auto 0;
  --padding-top: 1.5rem;
  --padding-bottom: 1.5rem;
}
ion-input {
  margin: 1rem 0;
  border-radius: 5px;
  --padding-start: 10px;
}
ion-label {
  color: #fff;
  padding: 2px 8px;
}
h4,
h6,
p {
  color: #fff;
}
h1 {
  text-align: center;
  font-size: 12vw;
  font-weight: 900;
  color: var(--ion-color-secondary);
}
section span {
  color: #fff !important;
}

h4 {
  margin-top: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.error {
  color: #ffffff96;
}
.already {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
  opacity: 0.7;
  font-size: 0.9rem;
}
.forgot {
  color: #d4d4d4;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}
.another {
  color: #d4d4d4;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}
.or {
  color: white;
  text-align: center;
  margin-bottom: -5px;
}
.white-line {
  border-bottom: solid 1px white;
}

.s-buttons {
  width: 64px;
  height: 64px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-transform: capitalize;
  span {
    display: none;
  }
}
// @import url(https://fonts.googleapis.com/css?family=Roboto);
.google {
  // --color: darkgrey;
  // font-family: "Roboto", sans-serif !important;
  img {
    height: 24px;
    // margin: 0 12px 1px -5px;
  }
}
.fb {
  --background: #3b5998;
  ion-icon {
    font-size: 28px;
  }
}
.apple {
  ion-icon {
    font-size: 30px;
    margin-bottom: 4px;
  }
}
.apple-col.md {
  display: none;
}
@media screen and (min-width: 750px) {
  ion-input {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .s-buttons {
    margin: 2rem;
    width: initial;
    span {
      display: block;
      margin-left: 0.5rem;
    }
  }
}
@media screen and (min-width: 800px) {
  .s-buttons.md {
    margin: 2rem auto;
  }
  .s-buttons.ios {
    margin: 2rem;
  }
}
