<ion-content class="ion-padding" id="content">
  <div class="ion-padding">

    <!-- New User -->
    <ng-container *ngIf="!existing&&!forgot">
      <div class="text-center">
        <h6>Welcome to</h6>
        <h1>Pick Ems</h1>
      </div>
      <section>
        <h4>Create an account</h4>
      </section>
      <section>
        <ion-button color="primary" expand="block" class="business" routerLink="register">Register
        </ion-button>
      </section>
      <p class="already" (click)="existing=true">Already have an account?</p>
    </ng-container>

    <!-- Existing User -->
    <ng-container *ngIf="existing&&!forgot">
      <div class="text-center">
        <h1>Pick Ems</h1>
      </div>
      <section>
        <h4>Welcome back,</h4>
        <p>Please log in to your account</p>
      </section>
      <form #loginForm="ngForm" class="ion-padding" (ngSubmit)="login()">
        <ion-input type="email" placeholder="Email*" [(ngModel)]="model.email" name="email" required>
        </ion-input>
        <!-- <p class="error" *ngIf="email.touched && email.hasError('email')">Invalid email</p>
        <p class="error" *ngIf="email.touched && email.hasError('required')">Email address is required</p> -->
        <ion-input placeholder="Password*" type="password" [(ngModel)]="model.password" name="password" required
          (keyup.enter)="login()">
          <!-- #pswd="ngModel" -->
          <!-- minlength="6"  pattern="[A-Za-z0-9]*([a-zA-Z]+[0-9]+|[0-9]+[a-zA-Z]+)" -->
        </ion-input>
        <!-- <p class="error" *ngIf="pswd.touched && pswd.hasError('required')">Password is required</p> -->
        <div class="mw-500">
          <ion-checkbox [(ngModel)]="model.remember" name="remember"></ion-checkbox>
          <ion-label>Remember Me</ion-label>
        </div>
        <div class="text-center" *ngIf="loading">
          <ion-spinner color="secondary" name="crescent"></ion-spinner>
        </div>
        <ion-button *ngIf="!loading" color="secondary" type="submit" expand="block">Log in
        </ion-button>
      </form>
      <ng-container *ngIf="!loading">
        <ion-grid style="padding: 1rem 0 0;">
          <ion-row class="ion-align-items-center">
            <ion-col class="white-line"></ion-col>
            <ion-col class="or">Or</ion-col>
            <ion-col class="white-line"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-button expand="block" class="s-buttons google" color="light" (click)="signInWithGoogle()">
                <img src="assets/google.svg">
                <!-- <span>Sign in with Google</span> -->
              </ion-button>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-button expand="block" class="s-buttons fb" (click)="signInWithFacebook()">
                <ion-icon name="logo-facebook"></ion-icon>
                <!-- <span>Sign in with Facebook</span> -->
              </ion-button>
            </ion-col>
            <ion-col class="ion-no-padding apple-col">
              <ion-button expand="block" class="s-buttons apple" color="light" (click)="singInWithApple()">
                <ion-icon name="logo-apple"></ion-icon>
                <!-- <span>Sign in with Apple</span> -->
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p class="forgot" (click)="forgot=true">Forgot Password?</p>
        <p class="another" routerLink="register">Register Another User</p>
      </ng-container>
    </ng-container>


    <ng-container *ngIf="forgot">
      <div class="text-center">
        <img src="assets/icon/logo-text.png">
      </div>
      <form #loginForm="ngForm" class="ion-padding-vertical" (ngSubmit)="resetPassword(email)">
        <ion-label>Email Address</ion-label>
        <ion-input type="email" placeholder="Email" [(ngModel)]="model.email" name="email" #email="ngModel" required
          email>
        </ion-input>
        <p class="error" *ngIf="email.touched && email.hasError('email')">Invalid email</p>
        <p class="error" *ngIf="email.touched && email.hasError('required')">Email address is required</p>
        <ion-button color="secondary" type="submit" expand="block">Send Email</ion-button>
      </form>
    </ng-container>
  </div>
</ion-content>