<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" slot="fixed">
  <div class="container">
    <h3 [hidden]="!socialRegister">Sign up with</h3>
    <ion-grid [hidden]="!socialRegister">
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="s-buttons google" color="light" (click)="signUpWithGoogle()">
            <img src="assets/google.svg">
            <!-- Google -->
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="s-buttons apple" color="light" (click)="singUpWithApple()">
            <ion-icon name="logo-apple"></ion-icon>
            <!-- Apple -->
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="mb-6">
        <ion-col>
          <ion-button expand="block" class="s-buttons fb" (click)="signUpWithFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
            <!-- Facebook -->
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="s-buttons fb" (click)="socialRegister=false">
            <ion-icon name="mail"></ion-icon>
            <!-- Email -->
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="social-button">
      <ion-button color="light" [hidden]="socialRegister" (click)="socialRegister=true">
        <ion-icon name="arrow-back-outline"></ion-icon> Social Login
      </ion-button>
    </div>
    <form #formValidator="ngForm" (ngSubmit)="submit()" [hidden]="socialRegister">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input autocomplete="given-name" [(ngModel)]="model.first" name="first" #fName="ngModel" required>
        </ion-input>
        <p *ngIf="fName.touched&&fName.invalid">First Name is required</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input autocomplete="family-name" [(ngModel)]="model.last" name="last" #lName="ngModel" required>
        </ion-input>
        <p *ngIf="lName.touched&&lName.invalid">Last Name is required</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input autocomplete="email" [(ngModel)]="model.email" name="email" #mail="ngModel" required email>
        </ion-input>
        <p *ngIf="mail.touched&&mail.hasError('required')">Email is required</p>
        <p *ngIf="mail.touched&&mail.hasError('email')">Invalid Email</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input autocomplete="new-password" [(ngModel)]="model.password" name="password" #pswd="ngModel"
          type="password" required minlength="6">
        </ion-input>
        <p *ngIf="pswd.touched&&pswd.hasError('required')">Password is required</p>
        <p *ngIf="pswd.touched&&pswd.hasError('minlength')">At least 6 characters</p>
      </ion-item>
      <ion-item [hidden]="pswd.invalid">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input [(ngModel)]="confirm" name="confirm" #pswd2="ngModel" type="password" required></ion-input>
        <p *ngIf="pswd2.touched&&pswd2.value!=pswd.value">Passwords do not match</p>
      </ion-item>
      <div class="text-center">
        <ion-button [disabled]="formValidator.invalid" type="submit" buttonType="submit">Create Account</ion-button>
      </div>
    </form>
  </div>
</ion-content>