td {
  padding: 4px;
  border: solid 1px #404040;
  white-space: nowrap;
}
.newDay {
  background: #404040;
}
thead {
  font-size: 16px;
  th {
    padding: 4px;
    text-transform: capitalize;
    border: solid 1px #404040;
  }
}
table {
  border: solid 1px #404040;
}
